<div class="header">
  <p class="sub-name">----- Hawaiian Style -----</p>
  <div class="shop-name">
  <h1>LOCO STYLE</h1>
  </div>
  <ul class="menus">
    <a href="#"><li class="menu">HOME</li></a>
    <a href="#"><li class="menu">ABOUT</li></a>
    <a href="#"><li class="menu">FOODS</li></a>
    <a href="#"><li class="menu">BLOGS</li></a>
    <a href="#"><li class="menu">ACCESS</li></a>
    <a href="#"><li class="menu">CALENDAR</li></a>
  </ul>
</div>

<div class="main">

  <div class="about">
    <div class="left-content">
      <div class="left-content__title">
        <h2>ABOUT</h2>
      </div>
      <div class="left-content__img">
        <%= image_tag "about.jpeg" , class:"left-content__img--picture" %>
      </div>
    </div>
    <div class="right-content">
      <div class="right-content__text">
        <p>こんにちは、こんにちは、こんにちは、こんにちは、こんにちは、こんにちはこんにちは、こんにちは、こんにちは、こんにちは、こんにちは、こんにちは、こんにちは、こんにちは、こんにちは、こんにちは、こんにちは、こんにちは、こんにちは、こんにちは、こんにちは、こんにちは、こんにちは、こんにちは、こんにちは、こんにちは、こんにちは、こんにちは、</p>
        <p>こんにちは、こんにちは、こんにちは、こんにちは、こんにちは、こんにちはこんにちは、こんにちは、こんにちは、こんにちは、こんにちは、こんにちは、こんにちは、こんにちは、こんにちは、こんにちは、こんにちは、こんにちは、こんにちは、こんにちは、こんにちは、こんにちは、こんにちは、こんにちは、こんにちは、こんにちは、こんにちは、こんにちは、</p>
        <p>こんにちは、こんにちは、こんにちは、こんにちは、こんにちは、こんにちはこんにちは、こんにちは、こんにちは、こんにちは、こんにちは、こんにちは、こんにちは、こんにちは、こんにちは、こんにちは、こんにちは、こんにちは、こんにちは、こんにちは、こんにちは、こんにちは、こんにちは、こんにちは、こんにちは、こんにちは、こんにちは、こんにちは、</p>
      </div>    
    </div>
  </div>

  <div class="foods">
    <h2 class="title">FOODS</h2>
    <div class="foods-wrapper">
      <div class="food-box">
        <%= image_tag "food1.jpg", class:"food-img", size:'300x200'%>
        <div class="food-box__title">
          locomoco
        </div>
        <div class="food-box__price">
          500 YEN
        </div>
      </div>
      <div class="food-box">
        <%= image_tag "food1.jpg", class:"food-img", size:'300x200'%>
        <div class="food-box__title">
          locomoco
        </div>
        <div class="food-box__price">
          500 YEN
        </div>
      </div>
      <div class="food-box">
        <%= image_tag "food1.jpg", class:"food-img", size:'300x200'%>
        <div class="food-box__title">
          locomoco
        </div>
        <div class="food-box__price">
          500 YEN
        </div>
      </div>
      <div class="food-box">
        <%= image_tag "food1.jpg", class:"food-img", size:'300x200'%>
        <div class="food-box__title">
          locomoco
        </div>
        <div class="food-box__price">
          500 YEN
        </div>
      </div>
      <div class="food-box">
        <%= image_tag "food1.jpg", class:"food-img", size:'300x200'%>
        <div class="food-box__title">
          locomoco
        </div>
        <div class="food-box__price">
          500 YEN
        </div>
      </div>
      <div class="food-box">
        <%= image_tag "food1.jpg", class:"food-img", size:'300x200'%>
        <div class="food-box__title">
          locomoco
        </div>
        <div class="food-box__price">
          500 YEN
        </div>
      </div>
      
    </div>
  </div>

  <div class="blogs">
    <h2 class="title">BLOGS</h2>
    <div class="right-content">
      <div class="blog">
        <div class="blog__header">
          <div class="blog__header--title">
             最高な日
          </div>
          <div class="blog__header--date">
              2019.8.20
          </div>
        </div>
        <div class="blog__imgbox">
          <%= image_tag "food1.jpg",class:"blog__imgbox--img",size:'600x500' %>
        </div>
        <div class="blog__text-box">
          いい日だった。 いい日だった。 いい日だった。 いい日だった。 いい日だった。 いい日だった。 いい日だった。 いい日だった。 いい日だった。 いい日だった。 いい日だった。 いい日だった。 いい日だった。 いい日だった。 いい日だった。 いい日だった。 いい日だった。 いい日だった。 いい日だった。 いい日だった。 いい日だった。 いい日だった。 いい日だった。 いい日だった。
        </div>
      </div>
    </div>
  </div>
  <div class="access">
    <div class="left-content">
      <div class="left-content__title">
        ACCESS
      </div>
      <div class="left-content__address">
        ACCESS
      </div>
    </div>
    <div class="right-content">
      <iframe class="map", src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1833.3346131090661!2d139.67531126740974!3d35.55265187474511!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60185f0c8d8415bb%3A0xa9bb47498fd6ebb8!2sLOCO+STYLE!5e0!3m2!1sja!2sjp!4v1566309612946!5m2!1sja!2sjp" width="600" height="450" frameborder="0" style="border:0" allowfullscreen>
      </iframe>
    </div>
  </div>
  <div class="calendar">
  </div>

</div>